- unless @current_user.needs_subscription?
  .hero-unit
    %h1 Welcome back
    %p
      This will one day be the super amazing awesome dashboard page. Until that time, this is nothing more than
      a placeholder. Click the button below to continue to your active vehicles.
    %p= link_to "Click Here", cars_path, class: 'btn btn-primary btn-large'
- else
  = render "shared/subscribe_alert"
