%tr
  %td= make.name
  %td= link_to pluralize(make.models.count, "Models"), make_models_path(make)
  %td
    .btn-toolbar{style: 'margin: 0;'}
      .btn-group
        = link_to icon_tag(:edit, "Edit"), edit_make_path(make), class: 'btn'
      .btn-group
        = link_to icon_tag(:trash, "Delete"), make, data: { confirm: 'Are you sure?' }, method: 'delete', class: 'btn btn-danger'
