%tr
  %td= make.name
  %td= link_to pluralize(make.models.count, "Models"), make_models_path(make)
  %td
    .btn-toolbar{style: 'margin: 0;'}
      .btn-group
        = link_to "<i class='icon-edit'></i> Edit".html_safe, edit_make_path(make), class: 'btn'
      .btn-group
        = link_to "<i class='icon-trash'></i> Delete".html_safe, make, data: { confirm: 'Are you sure?' }, method: 'delete', class: 'btn btn-danger'
