.hero-unit
  %h1 Free your business
  %p
    With ImpoundPro's automation and management tools, we give you back your
    time and free you to run your business. Focus on what's important.
  %p= link_to "Try it free", "#", :class => "btn btn-primary btn-large"

.row
  .span4
    %h2 Heading
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo
      facilisis dui a dapibus. Vivamus vitae tellus leo, id vehicula ipsum.
      Cras aliquam convallis scelerisque. Nulla at lobortis ligula. In eget
      nisl augue, sit amet consectetur neque. Etiam in risus tortor, nec
      ullamcorper tellus.
    %p= link_to "Learn More", "#", :class => "btn"
  .span4
    %h2 Heading
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo
      facilisis dui a dapibus. Vivamus vitae tellus leo, id vehicula ipsum.
      Cras aliquam convallis scelerisque. Nulla at lobortis ligula. In eget
      nisl augue, sit amet consectetur neque. Etiam in risus tortor, nec
      ullamcorper tellus.
    %p= link_to "Learn More", "#", :class => "btn"
  .span4
    %h2 Heading
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo
      facilisis dui a dapibus. Vivamus vitae tellus leo, id vehicula ipsum.
      Cras aliquam convallis scelerisque. Nulla at lobortis ligula. In eget
      nisl augue, sit amet consectetur neque. Etiam in risus tortor, nec
      ullamcorper tellus.
    %p= link_to "Learn More", "#", :class => "btn"
