=simple_form_for @user, :url => user_path, :html => { :class => 'form-vertical' } do |f|

  =f.input :stripe_card_token, :as => :hidden

  -unless @user.stripe_card_token
    =render :partial => "stripe_form"
  %fieldset
    %legend Login Details
    =f.input :email
    =f.input :password
    =f.input :password_confirmation, :label => "Confirm Password"
  %fieldset
    %legend Company Details
    =f.input :name
    =f.input :address
    =f.input :city
    =f.input :state, :collection => States.invert.sort, :prompt => true
    =f.input :zip
    =f.input :county
    =f.input :phone_number
    =f.input :preparers_name, :label => "Form preparers name"
  .form-actions
    =f.submit nil, :class => 'btn btn-primary'
    =link_to t(".cancel"), root_path, :class => 'btn'
