=simple_form_for @user, :url => user_path do |f|
  %fieldset
    %h3.form-header Sign up
    .form-content
      %h3 Free to try
      %p
        Your Impound Pro account is free for 2 weeks and up to 5 cars.
        You may cancel at any time.
      %hr
      =f.input :name, :label => "Company Name"
      =f.input :email
      =f.input :password
      =f.input :password_confirmation
    .form-actions
      =f.submit "Register", :class =>  "btn btn-primary btn-large"
      %p.pull-right.helper
        %i.icon-user &nbsp;
        Already registered? #{link_to "Sign In →", login_path}
