=simple_form_for @user, :url => user_path, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend Update Payment Info
    =f.error :stripe_card_token
    =simple_fields_for @user.credit_card do |c|
      =c.input :number
      =c.input :expiry, :as => :date, :order => [:month, :year], :add_month_numbers => true
      =c.input :cvc, :label => "CVC"

  .form-actions
    =f.submit nil, :class => 'btn btn-primary'
    =link_to "Cancel", root_path, :class => 'btn'
