<h1>Edit Details</h1>

<%= render 'form' %>

<%= link_to 'Cancel Account', user_path, :confirm => "Are you sure? This will delete your account and any data attached to it.", :method => :delete, :style => 'color: red' %> |
<%= link_to 'Back', root_path %>
