@mixin border-radius($top-left, $top-right:"", $bottom-right:"", $bottom-left:"") {
  border-radius: $top-left #{$top-right} #{$bottom-right} #{$bottom-left};
  -webkit-border-radius: $top-left #{$top-right} #{$bottom-right} #{$bottom-left};
  -moz-border-radius: $top-left #{$top-right} #{$bottom-right} #{$bottom-left};
}
