@import "bootstrap/variables";

$spacing:               30px;

$grayLightish:          #ddd;
$grayLighter:           #eee;
$whiteSmoke:            darken($white, 4%);

$boxBackground: $white;
$boxBackgroundHighlight: $whiteSmoke;

// Navbar
// -------------------------
$navbarHeight:                    70px;
$navbarBackground:                #024A9E;
$navbarBackgroundHighlight:       #0956AE;

$navbarText:                      $textColor;
$navbarLinkColor:                 $whiteSmoke;
$navbarLinkColorHover:            $linkColor;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       $grayLighter;
$navbarLinkBackgroundActive:      $grayLighter;

$navbarSearchBackground:          #4487D3;
$navbarSearchBackgroundFocus:     $white;
$navbarSearchBorder:              $grayLighter;
$navbarSearchPlaceholderColor:    $grayLight;
$navbarBrandColor:                $navbarLinkColor;
