@import "bootstrap/variables";

$grayLightest: lighten($grayLighter, 2%);
$grayLightish: mix($grayLight, $grayLighter);
$spacing: 30px;


// Navbar
// -------------------------
$navbarHeight:                    70px;
$navbarBackground:                darken($white, 3%);
$navbarBackgroundHighlight:       $white;

$navbarText:                      $textColor;
$navbarLinkColor:                 $linkColor;
$navbarLinkColorHover:            $linkColor;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       $grayLighter;
$navbarLinkBackgroundActive:      $grayLighter;

$navbarSearchBackground:          lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus:     $white;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%);
$navbarSearchPlaceholderColor:    #ccc;
$navbarBrandColor:                $navbarLinkColor;
