/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require_tree .
*/
.ac {
  text-align: center;
}

.al {
  text-align: left;
}

.ar {
  text-align: right;
}

html, body {
  height: 100%;
}

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -70px;
}

@media (min-width: 980px) {
  #wrapper { padding-top: 90px; }
}

#footer-pusher { height: 70px; }

footer {
  clear: both;
  position: relative;
  height: 38px;
}
