@import "variables";

.cars {
  .alert {
    .vin-check-errors {
      margin-top: $spacing/2;
    }

    .vin-check-actions {
      margin-top: $spacing/2;
    }
  }

  .car-info-table {
    th {
      width: 10%;
    }

    td {
      width: 40%;
    }
  }
}
