@import "_variables.css.less";
@import "twitter/bootstrap/mixins";

.sessions.gatekeeper, .users.gatekeeper {
	fieldset {
		background-color: @white;
		border: 1px solid @grayLightish;
		.border-radius(5px);

		h3.form-header {
			background-color: @whiteSmoke;
			border-bottom: 1px solid @grayLightish;
			.border-radius(5px 5px 0 0);
			text-shadow: 1px 1px 0 @white;
			padding: @spacing * 2/3;
			margin-top: 0;
		}

		div.form-content {
			margin: @spacing*2/3 @spacing;
		}

		div.form-actions {
			margin-bottom: 0;
			.border-radius(0 0 5px 5px);

			.btn {
				margin-right: @spacing/2;
			}

			p.helper {
				margin-top: @spacing/2;
			}
		}
	}

	.brand {
		margin-bottom: @spacing*2;
	}

	.inline {
		display: inline;
	}
}
