// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.sessions
{
  $background-img: image-url('noise.png');
  $spacing: 20px;

  background-image: $background-img;
  padding-top: $spacing*2;

  fieldset {
    background-color: $white;
    border: 1px solid $grayLightish;
    @include border-radius(5px);

    h3 {
      background-color: $grayLightest;
      border-bottom: 1px solid $grayLightish;
      @include border-radius(5px 5px 0 0);
      text-shadow: 1px 1px 0 $white;
      padding: $spacing;
    }

    div.form-content {
      margin: $spacing;
    }

    div.control-group {
      margin-bottom: $spacing;
    }

    div.actions {
      border-top: 1px solid $grayLightish;
      background-color: $grayLightest;
      padding: $spacing;

      #remember_me {
        margin-left: $spacing;
      }

      label {
        display: inline;
      }
    }
  }

  .brand {
    margin-bottom: $spacing*2;
  }

  .inline {
    display: inline;
  }
}
