// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.sessions
{
  $background-img: image-url('noise.png');
  $padding: 20px;

  background-image: $background-img;

  fieldset {
    background-color: $white;
    border: 1px solid $grayLightish;
    @include border-radius(5px);
    padding: $padding;

    legend {
      background-color: $grayLightest;
      border: 1px solid $grayLightish;
      @include border-radius(5px, 5px, 0, 0);
      text-shadow: 1px 1px 0 $white;
      padding: $padding;
      margin: 0 -#{$padding+1};
    }

    .field {
      margin-bottom: 10px;
    }

    .actions {
      border-top: 1px solid $grayLightish;
      background-color: $grayLightest;
      padding: $padding;
    }
  }
}
