= simple_form_for @car, :html => { :class => "form-horizontal" } do |f|
  %fieldset
    %legend ITS A FUCKING CAR
    = f.input :make_id, :collection => Make.all, :label_method => :name, :value_method => :id
