%script
  makes = #{Makes.to_json.html_safe}
= form_for(@car) do |f|
  - if @car.errors.any?
    #error_explanation
      %h2 #{pluralize @car.errors.count, "error"} prohibited this car from being saved:
      %ul
        - @car.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Vehicle Data Entry
    .field
      =f.label :year
      =f.number_field :year
    .field
      =f.label :make
      =f.text_field :make, 'data-auto-complete' => Makes.keys.to_s, :class => 'combobox'
    .field
      =f.label :model
      =f.text_field :model
    .field
      =f.label :color
      =f.text_field :color
    .field
      =f.label :size, 'Body Style'
      =f.text_field :size, 'data-auto-complete' => Sizes.sort.to_s, :class => 'combobox'
    .field
      =f.label :state
      =f.select :state, States.invert.sort, {:prompt => true}
    .field
      =f.label :vin
      =f.text_field :vin
    .field
      =f.label :license_plate_number, "Lic. Plate"
      =f.text_field :license_plate_number
  %fieldset
    %legend Owner Information
    .field
      =f.label :owner_name, 'Name'
      =f.text_field :owner_name
    .field
      =f.label :owner_address, 'Address'
      =f.text_field :owner_address
    .field
      =f.label :owner_city, 'City'
      =f.text_field :owner_city
    .field
      =f.label :owner_state, 'State'
      =f.select :owner_state, States.invert.sort, {:prompt => true}
    .field
      =f.label :owner_zip, 'Zip'
      =f.text_field :owner_zip
  %fieldset
    %legend Lien Holder Information
    .field
      =f.label :lien_holder_name, 'Name'
      =f.text_field :lien_holder_name
    .field
      =f.label :lien_holder_address, 'Address'
      =f.text_field :lien_holder_address
    .field
      =f.label :lien_holder_city, 'City'
      =f.text_field :lien_holder_city
    .field
      =f.label :lien_holder_state, 'State'
      =f.select :lien_holder_state, States.invert.sort, {:prompt => true}
    .field
      =f.label :lien_holder_zip, 'Zip'
      =f.text_field :lien_holder_zip
  %fieldset
    %legend Driver Information (If different than owner)
    .field
      =f.label :driver_name, 'Name'
      =f.text_field :driver_name
    .field
      =f.label :driver_address, 'Address'
      =f.text_field :driver_address
    .field
      =f.label :driver_city, 'City'
      =f.text_field :driver_city
    .field
      =f.label :driver_state, 'State'
      =f.select :driver_state, States.invert.sort, {:prompt => true}
    .field
      =f.label :driver_zip, 'Zip'
      =f.text_field :driver_zip
  %fieldset
    %legend Tow Information
    .field
      =f.label :date_towed, 'Tow Date'
      =f.date_select :date_towed
    .field
      =f.label :tow_requested_by, 'Requester'
      =f.text_field :tow_requested_by
    .field
      =f.label :tow_reason, 'Reason'
      =f.text_field :tow_reason
  %fieldset
    %legend Charges
    .field
      =f.label :charge_hook_up, 'Hook-up'
      =f.text_field :charge_hook_up, :class => 'charge'
    .field
      =f.label :charge_mileage, 'Mileage'
      =f.text_field :charge_mileage, :class => 'charge'
    .field
      =f.label :storage_rate, 'Storage (Per day)'
      =f.text_field :storage_rate, :class => 'charge'
    .field
      =f.label :charge_admin, 'Admin'
      =f.text_field :charge_admin, :class => 'charge'
    .field
      =f.label :charge_other, 'Other'
      =f.text_field :charge_other, :class => 'charge'
    .field
      =f.label :charge_subtotal, 'Subtotal'
      =f.text_field :charge_subtotal, {:readonly => true}
    .field
      =f.label :tax, 'Tax (%)'
      =f.text_field :tax
    .field
      =f.label :charge_total, 'Total'
      =f.text_field :charge_total, {:readonly => true}
  %fieldset
    %legend Entry Information
    .field
      =f.label :preparers_name
      =f.text_field :preparers_name
    - #TODO What to do for :mvd_inquiry_made - default to yes, and :mail_notice_of_lien_date - update when forms are loaded
    - #TODO Set preparers name to user field
    =f.hidden_field :user_id
    .field
      =f.submit
