-#TODO Button to set Car.mail_notice_of_lien_date to Today's date and lock it
-#TODO Display remaining days until title on index page
- unless @current_user.profile_complete?
  .alert.alert-info.alert-block
    %button.close{data: {dismiss: "alert"}}
      %i.icon-remove
    %h4 Let's get to know each other
    %p Your profile is incomplete. Tell us more about you so we can automate your business even more!
    %p= link_to "Complete Profile", edit_user_path, class: "btn btn-primary"

- unless @current_user.needs_subscription?
  .box
    %h3.box-header Active Lien Procedure Vehicles

    .box-body
      %table#cars.table.table-striped.table-bordered
        %thead
          %tr
            %th Car
            %th Date Added
            %th Status
            %th Actions
        %tbody
          = render(@cars)

      = paginate @cars, remote: true

      .form-actions
        = link_to icon_tag(:plus, text: "Add New", class: "icon-large"), new_car_path, class: 'btn btn-success btn-large'
