%h1 #{@car.to_s} (Unstyled Page!)
%p
  %b Year:
  =@car.year.try(:name)
%p
  %b Make:
  =@car.make.try(:name)
%p
  %b Model:
  =@car.model.try(:name)
%p
  %b Size:
  =@car.size
%p
  %b State:
  =@car.state
%p
  %b Vin:
  =@car.vin
%p
  %b License plate number:
  =@car.license_plate_number
%p
  %b Owner name:
  =@car.owner_name
%p
  %b Owner address:
  =@car.owner_address
%p
  %b Owner city:
  =@car.owner_city
%p
  %b Owner state:
  =@car.owner_state
%p
  %b Owner zip:
  =@car.owner_zip
%p
  %b Lien holder name:
  =@car.lien_holder_name
%p
  %b Lien holder address:
  =@car.lien_holder_address
%p
  %b Lien holder city:
  =@car.lien_holder_city
%p
  %b Lien holder state:
  =@car.lien_holder_state
%p
  %b Lien holder zip:
  =@car.lien_holder_zip

#{link_to 'Edit', edit_car_path(@car)} |
#{link_to 'Back', cars_path}
